vendor/
node_modules/

public/storage
public/hot
public/css/tmpcompile
public/ace/
public/jqwidgets/

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.ztr-directory
*.log
*.bak

